:root {
    --main-color: #C0C0C0;
    --background-color: #D7F0F4;
}

body {
    color: black;
    margin: 0;
    font-family: 'Alegreya' , sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: var(--background-color);
}

body .content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body .content ul {
    padding: 0;
}

body h3 {
    font-size: 1.5em;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.about_me a:visited {
    color: black;
}

.main_content {
    margin: 20px;
}

.heading {
    background-image: url(./icons/logo.svg);
    background-size: 100%;
    height: 210px;
    background-repeat: no-repeat;
    border: 6px solid black;
    align-content: center;
    display: flex;
    justify-content: center;
}

.heading .heading_name {
    padding: 20px;
    border: 3px solid var(--main-color);
    color: black;
    background-color: #F8F8F8;
    opacity: .8;
}

.projects_contianer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
    border: 3px solid var(--main-color);
}

.projects_contianer h4{
    font-size: 1.5em;
}

.project_info, .carousel {
    background-color: var(--background-color);
    margin: 2px 5px;
}

.my_carousel {
    position: relative;
}

.my_carousel ol {
    display: grid;
    list-style-type: none;
    padding: 0;
}

.my_carousel li {
    transition: opacity 0.5s linear, transform 0.5s linear;
    transform: rotateZ(0) scale(0);
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
}

.my_carousel li.active {
    opacity: 1;
    transform: rotateZ(360deg) scale(1);
}

.my_carousel img {
    height: 100%;
    width: 100%;
    border: 3px solid var(--main-color);
}

.my_carousel button {
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
}

.my_carousel button:hover {
    background-color: blue;
    color: white;
}

.my_carousel button:nth-of-type(1) {
    left: 3px;
}

.my_carousel button:nth-of-type(2) {
    right: 3px;
}

.pre_req_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}

.pre_req {
    padding: 2px;
}

.icons {
    height: auto;
    width: 10%;
}

footer {
    border: 6px solid black;
    text-align: center;
}